[submodule "vim/bundle/CuteErrorMarker"]
	path = vim/bundle/CuteErrorMarker
	url = git@github.com:Twinside/vim-cuteErrorMarker.git
[submodule "vim/bundle/OmniCppComplete"]
	path = vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "vim/bundle/VisIncr"]
	path = vim/bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git@github.com:klen/python-mode.git
[submodule "vimrc"]
	path = vimrc
	url = git@bitbucket.org:lydian/vimrc.git
[submodule "vim"]
	path = vim
	url = git@github.com:lydian/vimrc.git
[submodule "bin/remotecopy"]
	path = package/remotecopy
	url = git@bitbucket.org:lydian/remotecopy.git
[submodule "package/hhighlighter"]
	path = package/hhighlighter
	url = https://github.com/paoloantinori/hhighlighter.git
[submodule "package/bashmarks"]
	path = package/bashmarks
	url = git://github.com/huyng/bashmarks.git
[submodule "package/tpm"]
	path = package/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "package/powerline-shell"]
	path = package/powerline-shell
	url = https://github.com/milkbikis/powerline-shell
[submodule "package/fonts"]
	path = package/fonts
	url = https://github.com/powerline/fonts.git
